apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
        - name: service-a
          image: service-a:latest
          imagePullPolicy: IfNotPresent
          env:
          - name: Service__Url
            value: http://service-b:8080
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: "http://simplest-collector.observability.svc.cluster.local:4317"
          - name: OTEL_SERVICE_NAME
            value: service-a
          - name: OTEL_TRACES_EXPORTER
            value: otlp
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: service-a
spec:
  selector:
    app: service-a
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-b
  template:
    metadata:
      labels:
        app: service-b
    spec:
      containers:
        - name: service-b
          image: service-b:latest
          imagePullPolicy: IfNotPresent
          env:
          - name: OTEL_EXPORTER_OTLP_ENDPOINT
            value: http://simplest-query:16686
          - name: OTEL_SERVICE_NAME
            value: "service-b"
          - name: OTEL_TRACES_EXPORTER
            value: "otlp"
          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: service-b
spec:
  selector:
    app: service-b
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
