<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<variable name="AppName" value="Name Service\Bot" /> <!--Название сервиса\бота -->
	<variable name="logDirectory" value="Choose destination\${AppName}" /> <!--Путь к логам -->
	<variable name="LogDay" value="${date:format=yyyy-MM-dd}"/> 
	<targets async="true">
		<default-target-parameters xsi:type="File" keepFileOpen="true" />
		<target name="info" xsi:type="File"
			layout="${date:format=s} ${threadid} ${level} [${logger}] ${message}"
			fileName="${logDirectory}\${AppName}_Info_${LogDay}.log"
			archiveFileName="${logDirectory}\${AppName}_info_{#}.zip"
			archiveEvery="Day"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM-dd"
			maxArchiveFiles="10"
			enableArchiveFileCompression="true" />
			
		<target name="trace" xsi:type="File"
			layout="${date:format=s} ${threadid} ${level} [${logger}] ${message}"
			fileName="${logDirectory}\${AppName}_Trace_${LogDay}.log"
			archiveFileName="${logDirectory}\${AppName}_Trace_{#}.zip"
			archiveEvery="Day"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM-dd"
			maxArchiveFiles="10"
			enableArchiveFileCompression="true" />
			
		<target name="error" xsi:type="File"
			layout="${date:format=s} ${level} [${logger}] ${message} ${exception:innerFormat=Message,StackTrace}"
			fileName="${logDirectory}\${AppName}_Errors_${LogDay}.log"
			archiveFileName="${logDirectory}\${AppName}_Errors_{#}.zip"
			archiveEvery="Day"
			archiveNumbering="Date"
			archiveDateFormat="yyyy-MM-dd"
			maxArchiveFiles="10"
			enableArchiveFileCompression="true"/>
			
		<target name='jsonFile' type='File' fileName='${logDirectory}/log.json' archiveEvery="Day" archiveFileName="${logDirectory}/{#}_error.json" archiveNumbering="Date" archiveDateFormat="yyyy-MM-dd" maxArchiveFiles="10" keepFileOpen="false" openFileCacheTimeout="30" deleteOldFileOnStartup="false" archiveAboveSize="100000000">
			<layout type='JsonLayout'>
				<attribute name='time' layout='${longdate}' />
				<attribute name='Server' layout='Hostname' /> <!--Имя сервера с которого идёт данный лог, будет добавляться в каждое событие при отправке в opensearch -->
				<attribute name='App' layout='${AppName}' /><!--Уникальное общепринятое имя сервиса, будет добавляться в каждое событие при отправке в opensearch -->
				<attribute name='level' layout='${level:upperCase=true}'/>
				<attribute name='nested' encode='false'  >
					<layout type='JsonLayout'>
						<attribute name='message' layout='${message}' />
						<attribute name='exception' layout='${exception}' />
					</layout>
				</attribute>
			</layout>
		</target>
	</targets>
	<rules>
		<!-- Include http logging -->
		<logger name="Microsoft.AspNetCore.HttpLogging.*" minlevel="Info" writeTo="info,jsonFile" final="true" />
		
		<!-- Exclude Microsoft and System logs below Info level -->
		<logger name="Microsoft.*" levels="Trace,Debug,Info" final="true" />
		<logger name="System.*"    levels="Trace,Debug,Info" final="true" />
		
		<logger name="*" minlevel="Info" writeTo="jsonFile" />
		<logger name="*" levels="Error,Fatal" writeTo="error" />
		<logger name="*" levels="Info,Warn" writeTo="info" />
		<!-- <logger name="*" minlevel="Trace" writeTo="trace" /> --> <!-- Все логи приложения  -->
	</rules>
</nlog>

<!-- 
Trace — очень подробные логи, которые могут включать объёмную информацию, например, полезные данные протоколов. 
Debug — отладочная информация, менее подробная, чем трассировка, обычно не включается в производственной среде. 
Info — информационные сообщения, которые обычно включаются в производственной среде. 
Warn — предупреждающие сообщения, обычно для некритических проблем, которые можно восстановить или которые являются временными сбоями. 
Error — сообщения об ошибках. 
Fatal — очень серьёзные ошибки. 
-->
